include LICENSE
include README.rst
include *.txt
include requirements.in
include requirements-test.in

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include *.rst *.md Makefile
